.common-divheight {
    height: 100%;
}

.common-header-right-component {
    width: 50%;
    float: right;
    height: 100%;
}

.common-header-right-component-right {
    width: 50%;
    float: right;
    height: 100%;
}

.common-header-right-component-right-right {
    background: white;
    border-radius: 43px;
    width: 22%;
    float: right;
    height: 65%;
    margin-top: 2%;
    margin-right: 7%;
    color: black;
    cursor: pointer;
}

.common-header {
    width: 100%;
    height: 7%;
    background-color: #006666;
    /* border-bottom: 1px solid; */
}

.common-header-left-component {
    width: 50%;
    display: flex;
    float: left;
    margin-top: 1%;
}

.common-image-height {
    height: 75%;
    cursor: pointer;
}

.common-float-right {
    float: right;
    top: 7%;
    position: relative;
    left: 11%;
}

.lbl-logout {
    color: black;
    position: relative;
    top: 30%;
    left: 25%;
    cursor: pointer;
}

.mbdisplay {
    display: none;
}

.white-label {
    color: white;
}

.black-label {
    color: black;
}

.white-background {
    background-color: white;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 125%;
    font-family: sans-serif;
}

.screen-title {
    margin-top: 2%;
    font-family: cursive;
    font-weight: bold;
    opacity: 80%;
}

/* column postion and padding */
.col-posd-1 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.bodyclass {
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: #f8f9fd;
    color: gray;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    max-height: 90%;
}

.p-4 {
    padding: 3rem !important;
}

.text-center {
    text-align: center !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #01d28e;
}

.d-flex {
    display: flex !important;
}

.w-100 {
    width: 100% !important;
}

.w-20{
    width: 20%!important;

}

.login-wrap h3 {
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    line-height: 1.5;
    font-weight: 400;
    font-family: "Lato", Arial, sans-serif;
    color: #000;
}

h3,
.h3 {
    font-size: 1.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.form-group {
    position: relative;
    z-index: 0;
    margin-bottom: 20px !important;
}

.mt-3,
.my-3 {
    margin-top: 1rem !important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-control {
    height: 48px;
    background: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

button,
input {
    overflow: visible;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.form-control-placeholder {
    position: absolute;
    top: 2px;
    padding: 7px 0 0 15px;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
    opacity: .6;
}

/* label {
    display: inline-block;
    margin-bottom: 0.5rem;
} */

label {
    cursor: default;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.field-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.3);
}

.btn {
    cursor: pointer;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 15px;
    padding: 10px 20px;
}

.btn.btn-primary {
    background: #01d28e !important;
    border: 1px solid #01d28e !important;
    color: #fff !important;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
}

.rounded {
    border-radius: 0.25rem !important;
}

.pr-3,
.px-3 {
    padding-right: 1rem !important;
}

.pl-3,
.px-3 {
    padding-left: 1rem !important;
}

.w-25 {
    width: 25% !important;
}

.w-50 {
    width: 50% !important;
}

.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 90% !important;
}

.w-100 {
    width: 100% !important;
}

.max-w-50
{
    max-width: 50%!important;

}

.h-6
{
    height: 6%!important;

}

.h-7
{
    height:7% !important;
}

.h-10{
    height: 10%!important;

}
.h-50
{
    height:50% !important;
}

.h-68
{
    height:68%!important;
}

.h-93
{
    height: 93% !important;
}

.h-100 {
    height: 100% !important;
}

.h-95 {
    height: 95% !important;
}

.br-10 {
    border-radius: 10px;
}

.bg-col-green {
    background-color: #006666;
}

.bg-col-white {
    background-color: white;
}

.p-t-5 {
    padding-top: 5%;

}

.br-shadow
{
    border: 1px solid #CACACA;
    box-shadow: 0 0 4px rgb(0 0 0 / 10%);
}

.text-left {
    text-align: left !important;
}

.checkbox-wrap {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}

.checkbox-primary {
    color: #01d28e;
}

.form-group a {
    color: gray;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

/* Hide the browser's default checkbox */
input[type="checkbox"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "\f0c8";
    font-family: "FontAwesome";
    position: absolute;
    color: rgba(0, 0, 0, 0.1);
    font-size: 20px;
    margin-top: -4px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* Show the checkmark when checked */
.checkbox-wrap input:checked~.checkmark:after {
    display: block;
    content: "\f14a";
    font-family: "FontAwesome";
    color: rgba(0, 0, 0, 0.2);
}

/* Style the checkmark/indicator */
.checkbox-primary {
    color: #01d28e;
}

.checkbox-primary input:checked~.checkmark:after {
    color: #01d28e;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.justify_content_center {
    justify-content: center !important;
}

.f-direction-column {
    flex-direction: column !important;
    ;
}


.flex-1-1-auto
{
    flex:1 1 auto !important;
}

.m-l-1{
    margin-left: 1% !important;

}

.m-b-1
{
    margin-bottom: 1% !important;
}

.m-t-b-l {
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}

.m-l-6px
{
    margin-left: 6px !important;
}

.m-l-auto
{
    margin-left: auto!important;

}

.m-r-auto
{
    margin-right: auto!important;
}

.m-l-60
{
    margin-left:60% !important;
}

.m-l-50
{
    margin-left:50% !important;
}

.m-auto-0
{
    margin:auto 0 !important;
}

.m-auto
{
    margin:auto !important;
}

.p-r-1
{
    padding-right: 1%!important;
}

.font-w-900
{
    font-weight: 900 !important;
}



.txt-al-l
{
    text-align: left !important;
}

.txt-al-center
{
    text-align: center !important;
}

.itm-al-center
{
    align-items: center !important;;
}

.line-h-2_6{
    line-height: 2.6 !important;
}

.container label {
    color: black;
}

.lbl-col-green
{
    color: green ! important;
}
.cur-pointer
{
    cursor: pointer !important;
}

@media (min-width:360px) and (max-width: 460px) {
    .lbl-logout {
        top: 27%;
        left: 22%;

    }

    .common-header-right-component-right-right {
        margin-top: 7%;
        width: 100%;
    }
}

@media (min-width:360px) and (max-width: 460px) {
    .mbdisplay {
        display: block;
    }

    .mb-title {
        margin-bottom: 5%;
        margin-top: 2%;
        font-weight: bold;
        height: 2%;
    }
}

@media (min-width:992px) {
    .col-lg-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .content {
        height: 100%;
        width: 100%;
        display: flex;
    }

}

@media (min-width: 768px) {
    .p-md-5 {
        padding: 3rem !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        max-height: 90%;
    }
}

@media (prefers-reduced-motion: reduce) {
    .checkmark:after {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

@media (min-width: 768px) {
    .d-md-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .text-md-right {
        text-align: right !important;
    }
}

@media (max-width: 991px) {
    .content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .mbdisplay {
        display: block;
    }

    .mbdisplaynone {
        display: none;
    }

    .w-mv-100 {
        width: 100% !important;

    }

    .w-md-18
    {
        width:18% !important;
    }

    .w-md-10
    {
        width:10% !important;
    }

    .f-md-2_0_20{

        flex: 2 0 20%;
    }

    .f-md-2
    {
        flex:2;
    }
}