
.main-content
{
    background-color: black;
}
.LandingContent
{
    height:100%;
}
.header
{
    width: 100%;
    height: 10%;
    margin-bottom: 2%;
    background-color: #006666;
}
.header-right-component
{
    width: 50%;
    float: right;
    margin-top: 1%;
}
.header-left-component
{
    width: 50%;
    display: flex;
    float:left;
    margin-top: 1%;
    height:100%;
}
.dvSignIn
{
    margin-right: 4%;
    /* padding-left: 60%; */
    /* width: 50%; */
    width: 86%;
    height: 50%;
    text-align: right;
    line-height: 28px;
    color: white !important;
    display: inline-block;
}

.header-right-component-right
{
    width:100%;
    float:right;
    margin-right: 4%;
    /* display: flex; */
    height:100%;
}
.content{
    height:100%;
    width:100%;
    display: inline-block;
}
.divlogo
{
    font-family: ui-rounded;
    font-size: 42px;
    margin-left: 4%;
    cursor: pointer;
    line-height: 28px;

}
.dvSignUp
{
    background-color: chocolate;
    /* width: 50%; */
    width: 10%;
    text-align: center;
    height: 50%;
    line-height: 28px;
    border-radius: 10px;
    color: white !important;
    display: inline-block;
    
}
.labelcolor
{
    color: white !important;
    cursor:pointer;
}
@media (max-width: 411px) {
    .mbdvSignIn
    {
        width: 56%;
    }
    .mbdvSignUp
{
    width: 40%;
    
}


    
  }

