.gnb-wdthgt
{
    width: 89%;
    height:100%;
    float:right;
    padding-left: 1%;
    padding-top: 1%;
    background-color: white;

}
.gnb-label
{
    color:black;
}

/* label 
{
    color: black !important;
} */