.gnb-wdthgt
{
    width: 89%;
    height:100%;
    float:right;
    padding-left: 1%;
    padding-top: 1%;
    background-color: white;

}
.gnb-label
{
    color:black;
}

@media (min-width:360px) and (max-width: 460px) {
    .gnb-wdthgt {
        width: 100%;


    }
        .mb-gnb-title {
            margin-bottom: 5%;
            margin-top: 2%;
            font-weight: bold;
            height:2%;
        }
        }